.game-container {
  width: 100%;

  .top {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game {
    height: 80vh;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .game-screen {
      overflow: hidden;
      position: relative;
      width: 40%;
      height: 60%;
      background: darkcyan;
      display: grid;
      grid-template-rows: 1fr 1fr;

      //   @media screen and (max-width: 1000px) {
      //     width: 60%;
      //     height: 80%;
      //   }

      //   @media screen and (min-width: 1300px) {
      //     width: 40%;
      //     height: 60%;
      //   }

      .rival {
        border: solid 1px black;
        margin: 1px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .stats {
          display: flex;
          align-items: center;
          position: relative;

          .stats-container {
            height: 30%;
            position: absolute;
            left: -80%;
            opacity: 0;
            animation: animStatsRival 2s forwards;
          }
        }

        .sprite {
          position: relative;
          img:first-of-type {
            position: absolute;
            top: -150px;
            width: 130px;
            height: auto;
            opacity: 1;
            filter: brightness(0);
            animation: animSpriteRival 1s forwards,
              animImgPrincipalRival 0.2s forwards 2s;
          }
          img:nth-of-type(2) {
            position: absolute;
            width: 130px;
            height: auto;
            visibility: hidden;
            animation: animImgRival 0.2s forwards 2s;
          }
        }
      }

      .player {
        border: solid 1px black;
        margin: 1px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .stats {
          display: flex;
          align-items: start;
          justify-content: right;
          position: relative;

          .stats-container {
            height: 40%;
            position: absolute;
            right: -80%;
            opacity: 0;
            animation: animStatsPlayer 2s forwards;
          }
        }

        .sprite {
          position: relative;
          img {
            position: absolute;
            bottom: -50px;
            width: 0;
            height: auto;
            // filter: brightness(100);
            filter: brightness(100) drop-shadow(0px 0px 30px white);
            animation: animSpritePlayer 1s forwards;
          }
        }
      }

      .sprite {
        background: darkblue;
        display: flex;
        align-items: start;
        justify-content: center;

        // img {
        //   width: 130px;
        //   height: auto;
        // }
      }

      .stats-container {
        width: 80%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: rgb(222, 220, 220);
        padding: 2%;
        border-top: 3px solid black;

        .titre {
          display: flex;
          justify-content: space-around;
          align-items: center;

          h2 {
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: -1px;
          }
          p {
            text-transform: uppercase;
          }
        }

        .pv {
          display: flex;
          justify-content: right;
        }
      }

      .conducteur {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: white;
        padding: 1%;

        // span {
        //   width: 50%;
        //   // font-size: 1.2rem;
        // }
      }
    }
  }
}
