* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes animStatsRival {
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes animStatsRival {
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animStatsPlayer {
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes animStatsPlayer {
  100% {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animSpritePlayer {
  20% {
    -webkit-filter: brightness(80) drop-shadow(0px 0px 30px white);
            filter: brightness(80) drop-shadow(0px 0px 30px white);
    width: 30px;
  }
  40% {
    -webkit-filter: brightness(60) drop-shadow(0px 0px 30px white);
            filter: brightness(60) drop-shadow(0px 0px 30px white);
    width: 50px;
  }
  60% {
    -webkit-filter: brightness(20) drop-shadow(0px 0px 30px white);
            filter: brightness(20) drop-shadow(0px 0px 30px white);
    width: 70px;
  }
  80% {
    -webkit-filter: brightness(10) drop-shadow(0px 0px 30px white);
            filter: brightness(10) drop-shadow(0px 0px 30px white);
    width: 100px;
  }
  100% {
    width: 130px;
    bottom: 70px;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}
@keyframes animSpritePlayer {
  20% {
    -webkit-filter: brightness(80) drop-shadow(0px 0px 30px white);
            filter: brightness(80) drop-shadow(0px 0px 30px white);
    width: 30px;
  }
  40% {
    -webkit-filter: brightness(60) drop-shadow(0px 0px 30px white);
            filter: brightness(60) drop-shadow(0px 0px 30px white);
    width: 50px;
  }
  60% {
    -webkit-filter: brightness(20) drop-shadow(0px 0px 30px white);
            filter: brightness(20) drop-shadow(0px 0px 30px white);
    width: 70px;
  }
  80% {
    -webkit-filter: brightness(10) drop-shadow(0px 0px 30px white);
            filter: brightness(10) drop-shadow(0px 0px 30px white);
    width: 100px;
  }
  100% {
    width: 130px;
    bottom: 70px;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}
@-webkit-keyframes animSpriteRival {
  20% {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  40% {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  60% {
    -webkit-filter: brightness(0.1);
            filter: brightness(0.1);
  }
  80% {
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
  }
  100% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
    top: 0;
  }
}
@keyframes animSpriteRival {
  20% {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  40% {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  60% {
    -webkit-filter: brightness(0.1);
            filter: brightness(0.1);
  }
  80% {
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
  }
  100% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
    top: 0;
  }
}
@-webkit-keyframes animImgRival {
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes animImgRival {
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes animImgPrincipalRival {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animImgPrincipalRival {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-container {
  width: 100%;
}
.game-container .top {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game-container .game {
  height: 80vh;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game-container .game .game-screen {
  overflow: hidden;
  position: relative;
  width: 40%;
  height: 60%;
  background: darkcyan;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.game-container .game .game-screen .rival {
  border: solid 1px black;
  margin: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.game-container .game .game-screen .rival .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.game-container .game .game-screen .rival .stats .stats-container {
  height: 30%;
  position: absolute;
  left: -80%;
  opacity: 0;
  -webkit-animation: animStatsRival 2s forwards;
          animation: animStatsRival 2s forwards;
}
.game-container .game .game-screen .rival .sprite {
  position: relative;
}
.game-container .game .game-screen .rival .sprite img:first-of-type {
  position: absolute;
  top: -150px;
  width: 130px;
  height: auto;
  opacity: 1;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-animation: animSpriteRival 1s forwards, animImgPrincipalRival 0.2s forwards 2s;
          animation: animSpriteRival 1s forwards, animImgPrincipalRival 0.2s forwards 2s;
}
.game-container .game .game-screen .rival .sprite img:nth-of-type(2) {
  position: absolute;
  width: 130px;
  height: auto;
  visibility: hidden;
  -webkit-animation: animImgRival 0.2s forwards 2s;
          animation: animImgRival 0.2s forwards 2s;
}
.game-container .game .game-screen .player {
  border: solid 1px black;
  margin: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.game-container .game .game-screen .player .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
}
.game-container .game .game-screen .player .stats .stats-container {
  height: 40%;
  position: absolute;
  right: -80%;
  opacity: 0;
  -webkit-animation: animStatsPlayer 2s forwards;
          animation: animStatsPlayer 2s forwards;
}
.game-container .game .game-screen .player .sprite {
  position: relative;
}
.game-container .game .game-screen .player .sprite img {
  position: absolute;
  bottom: -50px;
  width: 0;
  height: auto;
  -webkit-filter: brightness(100) drop-shadow(0px 0px 30px white);
          filter: brightness(100) drop-shadow(0px 0px 30px white);
  -webkit-animation: animSpritePlayer 1s forwards;
          animation: animSpritePlayer 1s forwards;
}
.game-container .game .game-screen .sprite {
  background: darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game-container .game .game-screen .stats-container {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: rgb(222, 220, 220);
  padding: 2%;
  border-top: 3px solid black;
}
.game-container .game .game-screen .stats-container .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-container .game .game-screen .stats-container .titre h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.game-container .game .game-screen .stats-container .titre p {
  text-transform: uppercase;
}
.game-container .game .game-screen .stats-container .pv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.game-container .game .game-screen .conducteur {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: white;
  padding: 1%;
}
.game-container .game .game-screen .conducteur p {
  cursor: pointer;
  text-transform: uppercase;
  font-family: verdana sans, Geneva, Tahoma, sans-serif;
}
.game-container .game .game-screen .conducteur p:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */